blib*
Makefile
Makefile.old
Build
_build*
pm_to_blib*
*.tar.gz
.lwpcookies
Artemis-*
cover_db
MANIFEST.bak
t/artemis_schema_reportsdb_test.sqlite
t/artemis_schema_testrundb_test.sqlite
t/artemis_schema_testsdb_testdb.sqlite
MANIFEST
META.yml
